<!DOCTYPE html>
<html>
   <head>
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>Suaye Technologies</title>
      <link href="Shortcut icon"type="image/png"href="C:\Users\Bra Kwame\Documents\Professional\image\logo.png">
      <link href="{{url_for('static',filename='css/style.css') }}" rel="stylesheet">

                  <!-- Navigation bar -->
      <nav>
        <ul>
         <li><a href = "#index.html">HOME</a></li>
         <li><a href = "#about.html">ABOUT</a>
             <ul>
               <li><a>Our Team</a></li>
               <li><a>Mission</a></li>
               <li><a>Vision</a></li> 
            </ul> 
         </li>
         <li><a href = "#projects.html">PROJECTS</a></li>
         <li><a href = "#gallery.html">GALLERY</a></li>
         <li><a href = "#contacts.html">CONTACTS</a></li> 
        </ul>
      </nav>
      <div class="logo">
            <img src = "C:\Users\Bra Kwame\Documents\Professional\image\logo.png"> 
      </div>
      <br>
   </head>
   <body>
     
      
      <form>
 <input type="comment" placeholder="Comment here">
         <input type="submit" name="Submit">  
     </form> 

   </body>

</html>